*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #e0e0e0;
    background-color: #333;
    min-height: 100vh;
}

header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    transform: translateX(-95px);
    margin-left: 15%;
}

.nav-links li {
    margin: 0 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links button {
    background: none;
    color: white;
    border: none;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #1a659e;
}

.button:active {
    background-color: #14507a;
}

main.content {
    padding: 100px 20px 20px;
    text-align: center;
}

main.content h1 {
    font-size: 2em;
    text-align: left;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.movie-scroll-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-wrap: nowrap;
    gap: 16px;
    padding: 10px 0;
    scroll-behavior: smooth;
}

.movie-scroll-container::-webkit-scrollbar {
    display: none;
}

.container-with-buttons {
    position: relative;
    margin: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.scroll-button {
    font-size: 1.2em;
    cursor: pointer;
    background: none;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    border: none;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.movie-item {
    flex: 0 0 auto;
    width: 200px;
    margin: 5px;
    text-align: center;
    border: 1px solid #555;
    padding: 10px;
    background-color: #222;
}

.movie-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.movie-item h3, .movie-item p {
    margin: 5px 0;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.search-container input[type="text"] {
    padding: 8px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
}

.search-container button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 1.2em;
}


.hidden {
    display: none;
}

#viewDetails {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    border-radius: 4px;
    margin: auto;
}